<div class="container-fluid">
  <div *ngIf="isLoading" class="spinner">
    <img src="assets/img/ring.svg" style="height: 64px; width:64px;"/>
  </div>

  <div *ngIf="isEmpty" class="issues--empty">
    <p>This repository have no issues.</p>
  </div>

  <div *ngIf="!isLoading && !isEmpty">
    <div class="issue" *ngFor="let issue of issues | paginate: { itemsPerPage: 10, currentPage: currentPage }">
      <app-panel>

        <div app-panel-heading>
          <div class="issue__heading"><a href="{{issue.html_url}}" target="_blank">{{issue.title}}</a></div>
        </div>

        <div app-panel-body>

          <app-markdown>
            {{issue.body}}
          </app-markdown>

          <div *ngIf="hasLabels(issue)">
            <div class="issue__label" *ngFor="let label of issue.labels" [style.background-color]="getColor(label)">
                {{label.name}}
            </div>
          </div>

        </div>
      </app-panel>
    </div>
    <pagination-controls #pagination (pageChange)="currentPage = $event">

        <div class="custom-pagination">

            <div class="pagination-previous page__elements" [class.disabled]="pagination.isFirstPage()">
                <a *ngIf="!pagination.isFirstPage()" (click)="pagination.previous()"> < Previous</a>
                <span *ngIf="pagination.isFirstPage()"> < Previous</span>
            </div>

            <div class="page__elements" *ngFor="let page of pagination.pages" [class.current]="pagination.getCurrent() === page.value">
                <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                    <span>{{ page.label }}</span>
                </a>
                <div *ngIf="pagination.getCurrent() === page.value">
                    <span>{{ page.label }}</span>
                </div>
            </div>

            <div class="pagination-next page__elements" [class.disabled]="pagination.isLastPage()" *ngIf="pagination.directionLinks">
                <a *ngIf="!pagination.isLastPage()" (click)="pagination.next()"> Next > </a>
                <span *ngIf="pagination.isLastPage()"> Next > </span>
            </div>

        </div>

    </pagination-controls>
  </div>
</div>
