.spinner {
    text-align: center;
}

.issue:last-child {
    border-bottom: 1px solid #cccccc;
}

.issue__heading a {
    color: #ffffff;
}

.issue__heading a:hover {
    color: #ffffff;
}

.issue__label {
    display: inline-block;
    padding: 0 0.4rem;
    margin: 0.25rem;
    font-size: 12px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}
.issue__label:first-child{
    margin-left: 0;
}


.issue__heading {
    font-weight: bold;
}

.issues--empty{
    text-align: center;
}

/* Pagination */
.custom-pagination {
    width: 100%;
    display: block;
    text-align: center;
}

.page__elements {
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

.custom-pagination a {
    cursor: pointer;
}

.page__elements:hover:not(.current):not(.disabled) {
    background-color: #cccccc;
}

.page__elements {
    background-color: #eeeeee;
}

.pagination-previous {
    float: left;
}

.pagination-next{
    float: right;
}

.current {
    background-color: #337ab7;
    color: #ffffff;
}