<div class="col-xs-3">
	<div class="details__stats">
		<i class="fa fa-star fa-2x" aria-hidden="true"></i><br/><span>{{repository.stargazers_count}} Star{{repository.stargazers_count===1?'':'s'}}</span>
	</div>
</div>
<div class="col-xs-3">
	<div class="details__stats">
		<i class="fa fa-eye fa-2x" aria-hidden="true"></i><br/><span>{{repository.watchers_count}} Watcher{{repository.watchers_count===1?'':'s'}}</span>
	</div>
</div>
<div class="col-xs-3">
	<div class="details__stats">
		<i class="fa fa-exclamation fa-2x" aria-hidden="true"></i><br/><span>{{repository.open_issues_count}} Open issue{{repository.open_issues_count===1?'':'s'}}</span>
	</div>
</div>
<div class="col-xs-3">
	<div class="details__stats">
		<i class="fa fa-code-fork fa-2x" aria-hidden="true"></i><br/><span>{{repository.forks_count}} Fork{{repository.forks_count===1?'':'s'}}</span>
	</div>
</div>