<div class="container-fluid">
  <div *ngIf="isLoading" class="spinner">
    <img src="assets/img/ring.svg" style="height: 64px; width:64px;"/>
  </div>

  <div *ngIf="isEmpty" class="commits--empty">
    <p>This repository have no commits.</p>
  </div>

  <div *ngIf="!isLoading && !isEmpty">

    <!--CHARTS GO HERE-->

    <canvas baseChart class="chart"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
    >
    </canvas>


  </div>
</div>