/*nav {
    height: 75px;
    top:0;
    right: 0;
    left: 0;
    background: yellow;
    padding: 0.5rem 1rem;
}
a {
    max-width: 118px;
}

img {
    height: 100%;
}*/

nav{
    background-color: #eee;
}

.main.container-fluid {
    top: 50px;
    position: relative;
    padding: 1rem;
}

.column {
    height: 100%;
}