<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Github stats</a>
      </div>
  </div>
</nav>

<div class="main container-fluid">
  <div class="row">
  <div class="col-xs-12 col-sm-4 search-column column">
    <app-search
      [selectedRepository]="selectedRespository"
      (selectedRepositoryChange)="handleSelectRepository($event)"
    >
    </app-search>
  </div>
  <div class="col-xs-12 col-sm-8 column">
    <app-repo-details
      [repository]="selectedRepository"
    >
    </app-repo-details>
  </div>
  </div>
</div>