.details {
    height: 100%;
    bottom: 0;
}

.media img{
    height: 64px;
    width: 64px;
}

.nav.nav-pills,
.details__row {
    margin-bottom: 2rem;
}

.repo__empty-icon,
.repo__empty-message{
    color: #212121;
    text-align: center;
}

.repo__empty-icon{
    font-size: 32px;
}

ul.nav-pills li:not(.active) {
    cursor: pointer;
}