<div class="details container-fluid">
  <div *ngIf="repository != null">
    <div class="row details__row">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="{{repository.owner.avatar_url}}" alt="avatar">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{repository.full_name}}<span *ngIf="repository.homepage">, <a href="{{repository.homepage}}" target="_blank" alt="homepage">homepage</a></span></h4>
          <a href="{{repository.html_url}}" alt="github repository"><i class="fa fa-github" aria-hidden="true"></i> Go to the repository.</a>
          {{repository.description}}
        </div>
      </div>
    </div>
    <div class="row details__row">


      <ul class="nav nav-pills nav-justified">
        <li role="presentation" [class.active]="isSelectedTab('global')" (click)="selectTab('global')"><a><i class="fa fa-globe" aria-hidden="true"></i> Global stats</a></li>
        <li role="presentation" [class.active]="isSelectedTab('issues')" (click)="selectTab('issues')"><a><i class="fa fa-exclamation" aria-hidden="true"></i> Issues</a></li>
        <li role="presentation" [class.active]="isSelectedTab('charts')" (click)="selectTab('charts')"><a><i class="fa fa-bar-chart" aria-hidden="true"></i> Commits</a></li>
      </ul>
      <div [ngSwitch]="selectedTab">
        <div *ngSwitchCase="'global'">
          <app-general-stats
            [repository]="repository"
          >
          </app-general-stats>
        </div>
        <div *ngSwitchCase="'issues'">
          <app-issues
            [repository]="repository"
            [fetchedIssues]="storedIssues$ | async"
          >
          </app-issues>
        </div>
        <div *ngSwitchCase="'charts'">
          <app-charts
            [repository]="repository"
            [fetchedCommits]="storedCommits$ | async"
          >
          </app-charts>
        </div>
        <div *ngSwitchDefault>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="repository === null">
    <div class="repo__empty-icon">
      <i class="fa fa-eye-slash fa-4x" aria-hidden="true"></i>
    </div>
    <div class="repo__empty-message">
      There is no repository selected. Please select one.
    </div>
  </div>
</div>