<input #searchBox id="search-box" placeholder="Search repository" (keyup)="search(searchBox.value)"/>

<ul class="list-group">
    <template ngFor let-repo [ngForOf]="repositories$ | async" let-i="index" [ngForTrackBy]="trackByFn">
        <li *ngIf="i <= 5" class="list-group-item"
            [class.active]="repo?.id === selectedRepository?.id"
            (click)="selectRepository(repo)"
        >
            <a >{{repo.full_name}}</a>
        </li>
    </template>
</ul>