<div class="panel panel-primary">
  <div class="panel-heading" (click)="toggleCollapse()">
    <ng-content select="[app-panel-heading]"></ng-content>
  </div>
  <div class="panel-body" [@expandCollapse]="stateExpression">
    <div class="panel-body-inner">
      <ng-content select="[app-panel-body]"></ng-content>
    </div>
  </div>
</div>